:root{
--background-color-light: #ffffff;
--text-color-light:#333333;
--background-color-dark:#121212;
--text-color-dark:#ffffff;
}

@media(prefers-color-sheme:dark)
{
    body{
        background-color: var(--background-color-dark);
        color: var(--text-color-dark);
    }
}

@media(prefers-color-sheme:light)
{
    body{
        background-color: var(--background-color-light);
        color: var(--text-color-light);
    }
}

.dark-mode{
    background-color: var(--background-color-dark);
    color: var(--text-color-dark);
}

body{
    color: var(--text);
    background: var(--background);
    margin: 0;
    padding: 0;
    font-family:'Inconsolata',sans-serif;
}

.row>*{
    padding: 0 !important;
    margin: 0 !important;
    width: 0 !important;
}
.menu{
    margin-top: 0.875rem; 
}
ol{
    list-style: none;
    font-weight: 400;
    width: 100%;
}

li{
display: inline-block;
/* top | right | bottom | left */
margin: 0 2.95rem  1.95rem  2.95rem;
}

li:hover{
    font-weight: 700;
}

#logo{
margin-right: 7rem  !important;
font-weight: 900;
}

#logo:hover{
font-weight:500;
}

#dark-mode-toggle{
 margin-left: 7rem;
}

#dark-mode-toggle:hover{
color: lightslategray;
}

#fotoheader{
width: 10.5rem;
height: 10.5rem;
border-radius: 10cm;
border: #a4a2a2 dotted 0.5px;
margin: 15px 0 0 0;
}

#content{
margin-left: 29.5rem;
margin-right: 28rem;
}

#headSection h3:hover{
 color: #a4a2a2;
}

#headSection h6:hover{
    color: #121212 !important;
}

#bioContent b{
    margin-top: 55px !important;
}
/* just for git */