:root{
--background-color-light: #ffffff;
--text-color-light:#333333;
--background-color-dark:#121212;
--text-color-dark:#ffffff;
}

@media(prefers-color-sheme:dark)
{
    body{
        background-color: var(--background-color-dark);
        color: var(--text-color-dark);
    }
}

@media(prefers-color-sheme:light)
{
    body{
        background-color: var(--background-color-light);
        color: var(--text-color-light);
    }
}

.dark-mode{
    background-color: var(--background-color-dark);
    color: var(--text-color-dark);
}

body{
    color: var(--text);
    background: var(--background);
    margin: 0;
    padding: 0;
    font-family:'Inconsolata',sans-serif;
    text-align: center;
}

.row>*{
    padding: 0 !important;
    margin: 0 !important;
    width: 0 !important;
}
.menu{
    margin-top: 15px;
}
ol{
    list-style: none;
    font-weight: 400;
    width: 100%;
}

li{
display: inline;
margin: 8px;
}

li:hover{
    font-weight: 700;
}

#iconSun{
    color:gray;
    margin-left: 8rem !important;
}

#iconSun:hover{
    color:black;
}
#logo{
margin-right: 10rem  !important;
font-weight: 900;
}

